.towns {
  position: absolute;
  top: 113%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 9.5px;

  padding: 19px 30px 11px 30px;
  width: 100%;
  min-height: 95%;

  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f5f4f6;
}

.towns__item {
  width: fit-content;

  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #292929;
}

.towns__item_not-found {
  text-transform: lowercase;
}

.towns__item:not(.towns__item_not-found):hover {
  cursor: pointer;
  color: #ffa800;
}
