.documents-check_fail {
  display: flex;
  gap: 16px;

  width: 100%;

  padding: 37px 31px 37px 23px;

  background-color: rgba(255, 61, 0, 0.38);
}

.documents-check__wrapper {
  font-weight: 400;
  font-size: 18px;
  color: #292929;
}

.documents-check__current-example {
  font-weight: 700;
}
