.passengers-check_success {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;

  width: 100%;

  padding: 33px 31px 30px 23px;

  background-color: #b2f6a1;
}

.passengers-check__wrapper_success {
  display: flex;
  align-items: center;
  gap: 15px;
}

.passengers-check__text_success {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
