.train-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1px;
}

.train-info__wrapper-left,
.train-info__wrapper-middle,
.train-info__wrapper-right {
  display: flex;
  align-items: center;
  gap: 27px;

  padding: 17px 20px 17px 35px;

  background-color: #f7f6f6;
}

.train-info__wrapper-middle {
  gap: 45px;
}

.train-info__wrapper-right {
  gap: 10px;

  padding-top: 21px;
}

.train-info__train-number {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 24px;
  color: #3e3c41;
}

.train-info__train-town-departure {
  display: flex;
  gap: 7px;

  color: #928f94;
}

.train-info__train-town-from {
  display: flex;
  gap: 7px;
}

.train-info__train-town-from,
.train-info__train-town-to {
  color: #292929;
  text-transform: capitalize;
}

.train-info__time {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.train-info__town {
  font-size: 18px;
  color: #292929;
  text-transform: capitalize;
}

.train-info__terminal {
  color: #928f94;
}

.train-info__time-content {
  font-size: 18px;
}

.train-info__hours,
.train-info__minutes {
  display: flex;
  gap: 5px;
}
