.page {
  display: flex;
  justify-content: space-between;
  gap: 87px;

  padding: 95px 257px;

  background-color: #e5e5e5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 94px;

  width: 360px;
}

.main {
  max-width: 1200px;

  flex-grow: 1;
}

@media (max-width: 1830px) {
  .page {
    gap: 50px;

    padding: 50px;
  }
}

@media (max-width: 1330px) {
  .page {
    padding: 10px;
  }

  .sidebar {
    display: none;
  }

  .main {
    margin: 0 auto;
  }
}
