.description {
  padding: 59px 60px 110px 50px;

  background-image: url("../../assets/banner-description.png");
  background-color: #ffa800;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.description__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 98px;
  padding-left: 200px;
  padding-right: 208px;
}

.description__title {
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
}

.desription__link {
  display: block;
  padding: 15px 77px;

  border: 1px solid #fff;
  border-radius: 5px;

  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.desription__link:focus,
.desription__link:hover {
  border-color: #ffca62;
  color: #2d2b2f;
  background-color: #ffca62;
}

.desription__link:active {
  border-color: #fff;
  color: #2d2b2f;
  background-color: #fff;
}

.description__list {
  display: flex;
  justify-content: center;
  gap: 139px;
}

.description__img {
  display: block;
  margin: 0px auto 28px auto;

  border: 13px solid rgba(229, 229, 229, 0.2);
  border-radius: 50%;
}

.description__text {
  width: 223px;

  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #e5e5e5;
}

@media (max-width: 1330px) {
  .description {
    padding: 50px;
  }

  .description__header {
    margin-bottom: 50px;
    padding: 0px;
  }

  .desription__link {
    padding-left: 50px;
    padding-right: 50px;
  }

  .description__list {
    justify-content: space-around;
    gap: 20px;
  }

  .description__text {
    width: 200px;
  }
}
