.details {
  background: #3e3c41;
}

.details__title {
  padding: 35px 44px 35px 44px;
  border-bottom: 1px solid #fff;

  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #e5e5e5;
}

.details article:not(:last-child) {
  border-bottom: 1px solid #fff;
}
