.next-page {
  display: flex;

  padding: 72px 0px;
}

.next-page__navigation-link {
  margin-left: auto;
  padding: 16px 72px;

  border: 1px solid transparent;
  border-radius: 5px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;

  background-color: #ffa800;
}

.next-page__navigation-link_inactive {
  cursor: default;
  background-color: #928f94;
}

.next-page__navigation-link:not(.next-page__navigation-link_inactive):hover {
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.next-page__navigation-link:not(.next-page__navigation-link_inactive):active {
  border-color: #ffa800;

  color: #ffa800;

  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
