.header-order {
  background-image: url("../../assets/banner-3.png");
  background-color: #ffa800;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-order__top-container {
  position: relative;
  padding: 20px 258px 13px;
}

.header-order__top-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-order__title {
  padding: 353px 258px 240px 258px;

  font-weight: 700;
  font-size: 72px;
  color: #fff;
}

@media (max-width: 1830px) {
  .header-order__title {
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
  }
}

@media (max-width: 1330px) {
  .header-order__top-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-order__title {
    padding-top: 150px;

    font-size: 60px;
  }
}
