.destination {
  position: relative;
}

.destination__input {
  width: 323px;
  padding: 20px 60px 19px 30px;
  border-radius: 3px;

  font-weight: 400;
  font-size: 18px;
  color: #292929;
}

.destination__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 21px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/destination.svg");
}

.destination__icon:hover {
  cursor: pointer;
  background-image: url("../../assets/destination-active.svg");
}

@media (max-width: 992px) {
  .destination__input {
    width: 250px;
  }
}
