@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Плавный переход по якорным ссылкам - не работает в Safari */
html {
  scroll-behavior: smooth;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

input:focus {
  outline: 3px solid #ffa800;
}

input::placeholder {
  color: #e5e5e5;
}

ol,
ul {
  list-style-type: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page {
  display: flex;
  justify-content: space-between;
  gap: 87px;

  padding: 95px 257px 50px 257px;

  background-color: #e5e5e5;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 94px;

  width: 360px;
}

.main {
  flex-grow: 1;
}

@media (max-width: 1830px) {
  .page {
    gap: 50px;

    padding: 50px;
  }
}

@media (max-width: 1330px) {
  .page {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sidebar {
    display: none;
  }

  .main {
    margin: 0 auto;
  }
}
